[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/somanshurath/imgui.git
	branch = docking
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/websocketcpp"]
	path = external/websocketcpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
	branch = asio-1-4-branch
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
